@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Heebo:500,900|Mountains+of+Christmas|Sacramento&display=swap');

html, body, button, p {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    /* @apply text-gray-800; */
}
.font-base{ font-family: 'Heebo', sans-serif; font-weight: 900;}
.font-merry{ font-family: 'Sacramento', cursive; }
.font-eerie{ font-family: 'Mountains of Christmas', cursive; }

.font-merry.text-shadow{ text-shadow: 3px 3px 0px #124717, 5px 5px 0px rgba(0,0,0,0.5)}
.font-eerie.text-shadow{ text-shadow: 3px 3px 0px #1e1e1e, 5px 5px 0px rgba(0,0,0,0.75)}

.bg-grey{ background-color: #1e1e1e; }
.bg-green{ background-color: #124717; }
.bg-brown{ background-color: #332424; }

h1 {
    @apply text-6xl font-black text-white;
}


.btn {
    @apply px-8 py-4 rounded-full shadow-2xl text-white;
}

.hidden {
    display: none;
}

.checkbox-container {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px 20px 0 20px;
    overflow: hidden;
    border-radius: 9999px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.checkbox-circle {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.checkbox-circle:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
    height: 20px;
    background: linear-gradient(315deg, rgba(255,22,84,1) 0%, rgba(255,22,84,1) 65%, rgba(255,255,255,1) 100%);
    /* background-color: #FF1654; */
    border-radius: 50%;
    border: 2px solid black;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .checkbox-circle:before {
    right: 8px;
    left: 42px;
}

.result-content p{
    margin-bottom:1rem;
  }

.h-half{
    height: 50vh;
}

.-with-element::after{
    content: '';
    /* background-image: url("https://image.flaticon.com/icons/png/512/892/892817.png"); */
    background-image: url("https://image.flaticon.com/icons/png/512/1359/1359035.png");
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    z-index: 10;
    top: -15px;
    background-size: contain;
    left: 48%;
}

.border-dasher{
    @apply border-t-8 border-r-8 border-l-8 fixed z-10 mx-auto my-auto top-0 left-0 ;
    width:98vw; height: 98vh;
    margin-left: 1vw; margin-top: 2vh;
}

hr {
    background-image: linear-gradient(90deg, transparent, white, transparent);
    border: 0;
    height: 1px;
}